extends layout

block content
  h1= title
  if myArray.length
   ul 
    each val in myArray 
      li
        a(href=val.url) #{val.book.title} : #{val.imprint} -&nbsp;
        if val.status=='Available'
            span.text-success #{val.status}
        else if val.status=='Maintenance'
            span.text-danger #{val.status}
        else
            span.text-warning #{val.status}
        if val.status!='Available'
            span  (Due: #{val.due_back_formatted} )
  else 
   p There are no books.